<p>Добрый день,</p>
<br />
<p>Для вас было направлено следующее обращение:</p>
<br />
<br />
<i>
    <div th:utext="${text}"></div>
</i>
<br />
<br />
<p><b>Вы можете просто ответить на это письмо — ваш ответ автоматически добавится в обращение.</b></p>
<br />
<p>Вы получили данное письмо, потому что являетесь волонтером или подали заявку на вступление.</p>
<br />
<p>© Русская Диаспора в Сербии | Матични броj: 28355122 | ПИБ: 113526376 | Тел: +381 62 15478 93</p>
<p>www.russian.rs | 21124, Нови Сад, Шарпланинска 54 стан 2 | info@russian.rs</p>
<p>200-3624860101038-38 Banka Poštanska Štedionica</p>
