<div>
    <p>Здравствуйте,</p>
    <p>Для вас был создан аккаунт на всех внутренних ресурсах Русской Диаспоры.</p>
    <p>Для установки пароля перейдите <a target="_blank" th:href="${link}">по этой ссылке</a>. При возникновении
        проблем напишите в
        телеграм чат в раздел "Ошибки в системе и отчетах".</p>
    <br />
    <p>Напоминаем, что отчеты о проделанной работе необходимо сдавать еженедельно на <a href="https://portal.russian.rs"
                                                                                        target="_blank">Портале
        Волонтера</a>. Отсутствие отчетов более 2-х недель (без уважительных причин) приведет к автоматической
        блокировке учетной записи и расторжению договора с последующим уведомлением МУП.</p>
</div>
