<div>
    <p>Данные волонтера <span th:text="${fullName}"></span> будут деперсонализированы <span th:text="${depersonalizationDate}"></span>.</p>
    <p>Дата окончания контракта: <span th:text="${contractEndDate}"></span>.</p>
    <p>Если необходимо сохранить данные, рекомендуем экспортировать или распечатать их до указанной даты.</p>
    <p>В распечатанном виде в архиве данные могут храниться дольше (см. https://russian.rs/privacy-policy/).</p>
    <p>Обратите внимание: финансовые и бухгалтерские документы, связанные с этим волонтером, хранятся не менее 5 лет в соответствии с налоговым законодательством. При наличии вопросов свяжитесь с бухгалтером Организации.</p>
</div>
