<div>
    <p>Здравствуйте,</p>
    <p>Ваш отчет от <b th:text="${date}"></b> не прошел проверку.</p>
    <p>Для просмотра комментария от модератора перейдите на <a target="_blank"
                                                               th:href="'https://portal.russian.rs/report/' + ${id}">страницу
        с отчетом</a>. Для прохождения повторной проверки отредактируйте отчет с учетом замечаний. При возникновении
        проблем отправьте запрос в поддержку (боковое меню на портале)</p>
    <br />
    <p>Напоминаем, что отчеты о проделанной работе необходимо сдавать еженедельно на <a href="https://portal.russian.rs"
                                                                                        target="_blank">Портале
        Волонтера</a>. Отсутствие отчетов более 2-х недель (без уважительных причин) приведет к автоматической
        блокировке учетной записи и расторжению договора с последующим уведомлением МУП.</p>
</div>
